<div class="admin-title">
    <h2>Posts</h2>
    <a href="/admin-post" class="button">+ Add new</a>
</div>
<ul class="admin-posts">
    <% data.forEach(post => { %>
     
        <li>
            <a href="/post/<%= post._id %>" target="_blank">
                <%= post.title %> &nearr;
            </a>
            
            <div class="admin-post-controls">
                <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>
                
                <form action="/delete-post/<%= post._id %>?_method=DELETE" method="post">
                    <input type="submit" value="Delete" class="btn-delete btn">
                </form>
            </div>
        </li>

    <% }) %>
</ul>