<h1>Sign in</h1>
<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">
    <label for="password"><b>password</b></label>
    <input type="password" placeholder="Enter password" name="password">
    <input type="submit" value="login" class="btn">
</form>